@import 'tailwindcss';

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: initial;
}

@theme inline {
  --font-serif: var(--font-serif);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.generated p {
  margin-bottom: 1.5rem;
}

.generated a {
  @apply underline underline-offset-4 transition-colors;
}
.generated a:hover {
  @apply text-red-700;
}

::selection,
::-moz-selection {
  @apply bg-red-200;
}
